@font-face {
    font-family: header;
    src: url(header.ttf);
}

@import url('https://fonts.googleapis.com/css?family=Lato:300');

body {
  font-family: 'Lato' , sans-serif;
}


.s1 {
  min-height: 80vh;
  max-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("http://culturesofresistancefilms.com/sites/default/files/k2-night.jpg");
  background-size: cover;
}

.header {
  font-family: header !important;
}

.scroll-indicator {
  position: absolute;
  color: white;
  left: 50%;
  margin-top: 45vh;
  font-size: 50px;
  -webkit-animation: bounce 1s infinite;
  animation: bounce 1s infinite;
}


@-webkit-keyframes bounce {
  0% {
    top: 15%;
  }
  50% {
    top: 20%;
  }
  100% {
    top: 15%;
  }
}

@keyframes bounce {
  0% {
    top: 15%;
  }
  50% {
    top: 20%;
  }
  100% {
    top: 15%;
  }
}





.s2 {
  min-height: 95vh;
  width: 100%;
  margin: 0;
}


.s3 {
  margin: 0;
  min-height: 80vh;
  width: 100%;
  background: url("https://img-aws.ehowcdn.com/877x500p/photos.demandstudios.com/getty/article/99/68/180099751.jpg");
  background-size: cover;
}

.s4 {
  min-height: 80vh;
  margin: 0;
  width: 100%;
}

.grande {
  position: relative;
  height: 200px;
  width: auto;
}

.s5 {
  height: 80vh;
  width: 100%;
  background: url("https://res-1.cloudinary.com/enchanting/images/w_1600,h_700,c_fill/et-web/2015/05/Himalayas-Enchanting-Travels/himalayas-tours-trips.jpg");
  background-size: cover;
  margin: 0
}

.s6 {
  height: 70vh;
  width: 100%;
  margin: 0
}

.s7 {
  height: 100vh;
  width: 100%;
  background: url("http://www.telegraph.co.uk/content/dam/Travel/leadAssets/25/72/himalaya_2572614a-xlarge.jpg");
  background-size: cover;
}
